* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}
body{
    font-family: sans-serif;
    background: linear-gradient(217deg, rgba(0, 252, 13, 0.8), rgba(247, 252, 0, 0.0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    height: 100vh;
    line-height: 1.5;
    letter-spacing: 1.1px;
}

.container {
    width: 400px;
    margin: 150px auto;
    background-color: rgb(250, 252, 255);
}

/* input and + button and h1 */
 h1 {
        padding: 20px;
        display: inline-block;
        font-weight: 200;
        font-size: 2rem;
    }
input{
    width: 400px;
    border: 1px solid grey;
}
.fa-plus {
    float: right;
    margin: 30px;
}
.hide{
    display: none;
}

/* todo item box */
.checked{
    color: grey;
    text-decoration: line-through;
}
i{
    padding: 5px;
}
.fa-trash {
    float: right;
}
.fa-square{
    float: left;
}
#list-items span{
    width: 300px;   
}
#list-items div{
    padding: 15px;
}
#list-items{
    position: relative;
}
#list-items div:nth-child(even){
    background-color: rgb(221, 221, 221);
}
span[contenteditable] {
    outline: 0px solid transparent;
  }


.fa-trash {
    display: none!important;
}
    
.todo-item:hover > .fa-trash{
    display: block!important;
}

.dont-break-out {

    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;
  
  }