/* ************************Globle********************************************************************* */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  font-size: 20px;
  background: #4cb8c4; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #3cd3ad,
    #4cb8c4
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #3cd3ad,
    #4cb8c4
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  line-height: 1.5;
  letter-spacing: 1.1px;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
h1 {
  padding: 10px;
  display: inline-block;
  font-weight: 200;
  font-size: 1.2rem;
}
i {
  padding: 5px;
}
input {
  width: 400px;
  border: 1px solid grey;
  height: 60px;
  border: none;
  font-size: 20px;
  outline: none;
  padding: 10px;
  background-color: rgb(221, 221, 221);
}
span[contenteditable] {
  outline: 0px solid transparent;
}

/* ************************Container********************************************************************* */
.container {
  width: 400px;
  margin: 150px auto;
  background-color: rgb(250, 252, 255);
}

/* ************************h1 and + button ********************************************************************* */
.to-do-title {
  background-color: #2675b2;
  color: white;
}
.fa-plus {
  float: right;
  padding: 14px;
}
.hide {
  display: none;
}

/* ************************todo item box to all********************************************************************* */
.dont-break-out {
  overflow-wrap: break-word;
  word-wrap: break-word;
}
#list-items span {
  width: 300px;
}
#list-items div:nth-child(even) {
  background-color: rgb(221, 221, 221);
}
#list-items {
  position: relative;
}

/* ************************todo item to all********************************************************************* */
.todo-item {
  padding: 10px;
}
.fa-trash {
  display: none !important;
}
.todo-item:hover > .fa-trash {
  display: block !important;
}
.fa-trash {
  float: right;
}
.fa-square {
  float: left;
}
.checked {
  color: grey;
  text-decoration: line-through;
}
