* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}
body{
    font-family: sans-serif;
}
.container {
    width: 400px;
    margin: 150px auto;
    background-color: rgb(250, 252, 255);
}
input{
    width: 400px;
}
body {
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    height: 100vh;
}
ul {
    list-style: none;
}
.checked{
    color: grey;
    text-decoration: line-through;
}
.fa-plus {
    float: right;
    margin: 30px;
}
h1 {
    padding: 20px;
    display: inline-block;
    font-weight: 200;
    font-size: 2rem;
}
li {
padding: 15px;
}
i{
    padding: 5px;
}
li:nth-child(even){
    background-color: rgb(221, 221, 221);
}
.hide{
    display: none;
}
.fa-trash {
    float: left;
}
#input{
    border: 1px solid grey;
}
li span{
    border: none;
    height: auto;
    float: right;
    width: 300px;   
}
